/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: white;
  color: #333;
}

header {
  background: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header .logo {
  font-size: 24px;
}

/* Section Styles */
.section {
  padding: 50px;
  text-align: center;
}

.animate {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill-item {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.project {
  background:grey;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  color:white;
  border-radius: 5px;
}

footer {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Form Styling */
form input, form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}
